# pip install -r requirements.txt

# base ----------------------------------------
torch                              1.1.0
torchfile                          0.1.0
torchvision                        0.3.0
numpy                              1.14.3
numpydoc                           0.8.0
numba                              0.38.0
visdom                             0.1.8.9
opencv-python                      4.1.0.25
easydict                           1.9
Shapely                            1.6.4.post2

# logging -------------------------------------
tensorboard>=2.4.1

